@import url(vendor/fonts.css);
	@import url(vendor/bootstrap.min.css);
	@import url(vendor/jquery.mCustomScrollbar.css);
	@import url(vendor/nyroModal.css);
	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}
html {
	line-height: 1
}
ol,ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption,th,td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}
q,blockquote {
	quotes: none
}
q:before,q:after,blockquote:before,blockquote:after {
	content: "";
	content: none
}
a img {
	border: none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	display: block
}
a:not(.nyroModal) {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration: none
}
a:not(.nyroModal):hover,a:not(.nyroModal):focus,a:not(.nyroModal):active {
	text-decoration: none;
	outline: 0 none
}
::-moz-selection {
	color: #fff;
	background: #9b0059
}
::selection {
	color: #fff;
	background: #9b0059
}
.selectArrow {
	-webkit-transition: right 0.3s ease-in-out;
	-moz-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out
}
*[class*="col-"] {
	margin-left: 0
}
.is-hidden {
	display: none !important;
	overflow: auto !important
}
.block {
	display: block !important
}
.dt {
	display: table
}
.dib {
	display: inline-block
}
.violet {
	color: #9b0059
}
.clear-padding {
	padding-left: 0px !important;
	padding-right: 0px !important
}
.article-wrapper {
	padding: 0 0 0 7px;
	float: right
}
section {
	position: relative;
	width: 100%
}
.pattern-bg {
	background-repeat: repeat;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0
}
body {
	height: 100%;
	width: 100%;
	font-size: 13px;
	font-family: "Arial"
}
footer {
	position: relative;
	height: 100%;
	width: 100%;
	margin-bottom: 45px
}
.wrapper {
	padding: 0px;
	width: 940px;
	margin: 0 auto;
	position: relative
}
.wrapper.mapwrapper {
	z-index: 3
}
.btn {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	background-color: #008ec7;
	*zoom: 1;
	filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF008EC7', endColorstr='#FF0076B9');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #008ec7), color-stop(50%, #0076b9));
	background-image: -webkit-linear-gradient(top, #008ec7 50%,#0076b9 50%);
	background-image: -moz-linear-gradient(top, #008ec7 50%,#0076b9 50%);
	background-image: -o-linear-gradient(top, #008ec7 50%,#0076b9 50%);
	background-image: linear-gradient(top, #008ec7 50%,#0076b9 50%);
	display: block;
	font-size: 14px;
	font-family: "Arial";
	color: #fff;
	cursor: pointer;
	text-align: left;
	border: 0;
	padding: 0
}
.btn:hover {
	background-color: #cb0476;
	*zoom: 1;
	filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCB0476', endColorstr='#FF9C0059');
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #cb0476), color-stop(50%, #9c0059));
	background-image: -webkit-linear-gradient(top, #cb0476 50%,#9c0059 50%);
	background-image: -moz-linear-gradient(top, #cb0476 50%,#9c0059 50%);
	background-image: -o-linear-gradient(top, #cb0476 50%,#9c0059 50%);
	background-image: linear-gradient(top, #cb0476 50%,#9c0059 50%)
}
.btn.read-more {
	float: right;
	width: 144px;
	height: 46px;
	margin-right: 20px;
	margin-bottom: 20px;
	line-height: 46px;
	padding-left: 15px
}
.btn.read-more span {
	position: relative
}
.btn.read-more span:after {
	content: url(../img/small-arrow-white.png);
	position: absolute;
	right: -33px;
	margin-top: -1px
}
.btn.kv-btn {
	width: 244px;
	height: 54px;
	font-size: 17px;
	line-height: 54px;
	padding-left: 30px;
	margin-top: 31px
}
.btn.kv-btn span {
	position: relative
}
.btn.kv-btn span:after {
	content: url(../img/btn-arrow.png);
	position: absolute;
	right: -41px;
	margin-top: 1px
}
.m-header {
	width: 100%;
	height: 68px;
	overflow: hidden
}
.m-header .brand {
	padding: 0
}
.brand a img {
    margin-top: -7px;
    width: 190px;
}
#main-nav {
	width: 598px;
	height: 54px;
	line-height: 54px;
	border-bottom: solid 2px #dcdede
}
#main-nav li {
	display: inline-block;
	margin-right: 23px;
	text-align: center
}
#main-nav li:last-of-type {
	margin-right: 0
}
#main-nav li a {
	font-family: "GeogrotesqueRegular";
	color: #231f20;
	font-size: 16px;
	text-decoration: none;
	padding-bottom: 14px;
	border-bottom: solid 5px transparent
}

#main-nav li a:hover, #main-nav li a.current {
	color: #9b0059;
	border-bottom-color: #9b0059
}
.m-kv,.m-wideinfo-bg {
	background-position: center top;
	background-repeat: no-repeat;
	width: 100%
}
.m-kv.kv-large {
	background-image: url(../img/header.jpg);
	height: 474px
}
.m-kv.kv-small {
	background-image: url(../img/header-small.jpg);
	height: 163px;
	border-bottom: solid 1px #ccc;
	margin-top: 13px
}
.m-kv.kv-small .m-kv-intro {
	margin-top: 46px;
	width: auto
}
.m-kv.kv-small p {
	font-family: "Museo500";
	line-height: 23px;
	font-size: 21px
}
.m-kv.kv-small p b {
	font-weight: 900 !important;
	display: inline;
	font-size: 21px
}
.m-kv.kv-small .m-kv-counter {
	margin-top: 37px;
	margin-right: 0
}
.m-kv .wrapper {
	padding: 0
}
.m-kv .m-kv-intro {
	margin-top: 74px;
	padding: 0
}
.m-kv .m-kv-counter {
	padding: 0;
	width: 198px;
	margin-top: 46px;
	margin-right: 6px
}
.m-kv .m-kv-counter .m-kv-counter-intro {
	width: 100%;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	font-family: "Museo500";
	line-height: 40px;
	margin-top: -1px
}
.m-kv .m-kv-counter .m-kv-counter-about {
	border-top: solid 2px #9b0059;
	border-bottom: solid 2px #9b0059;
	background-image: url(../img/white-trans.png);
	width: 100%;
	height: 120px;
	font-size: 11.5px;
	line-height: 15px;
	font-weight: 500;
	font-family: Tahoma;
	text-align: center;
	padding-top: 10px
}
.m-kv .m-kv-counter .m-kv-counter-about img {
	margin-top: 10px
}
.m-kv .claim {
	font-family: "Museo500";
	text-rendering: optimizelegibility;
	color: #231f20;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 42px;
	display: block;
	width: 100%;
	margin-bottom: 8px;
	letter-spacing: -0.02em
}
.m-kv p {
	color: #231f20;
	font-family: Tahoma;
	font-size: 17px;
	line-height: 20px;
	display: block;
	width: 360px;
	clear: both
}
.m-kv p b {
	font-size: 21px;
	font-weight: 300 !important;
	display: block;
	margin-top: 29px;
	font-family: "Museo500"
}
.m-teasers-container {
	height: auto;
	display: table;
	background-image: url(../img/pattern.png)
}
.m-teasers-container .m-teaser-box {
	margin-bottom: 40px
}
.m-teasers-container .m-teaser-box:first-of-type {
	margin-right: 20px
}
.m-teaser-box {
	width: 460px;
	border-bottom: solid 1px #ccc;
	margin-top: 10px;
	margin-bottom: 40px
}
.m-teaser-box.first {
	margin-right: 20px
}
.m-teaser-box .m-teaser-box-desc {
	background-color: #fff;
	width: 100%;
	display: table;
	position: relative
}
.m-teaser-box img {
	border-bottom: solid 3px #9b0059
}
.m-teaser-box p {
	color: #222527;
	font-size: 13px;
	line-height: 18px;
	display: table;
	margin: 20px
}
.m-teaser-box .read-more:before {
	content: "";
	width: 52px;
	position: absolute;
	left: 20px;
	bottom: 20px;
	height: 3px;
	background-color: #ccc
}
.m-teaser-box-title {
	text-transform: uppercase;
	color: #9b0059;
	font-family: "Museo500";
	font-size: 24px;
	line-height: 56px;
	text-indent: 20px;
	border-bottom: solid 1px #ccc;
	display: block;
	width: 100%
}
.m-map-container {
	height: 532px
}
#map {
	border-top: solid 3px #9b0059;
	width: 100%;
	height: 532px;
	position: absolute;
	z-index: 2
}
.m-check-events {
	position: absolute;
	left: 0;
	top: 67px;
	width: 380px;
	background-color: #fff;
	height: 400px
}
.m-check-events .m-check-events-header {
	height: 82px;
	padding-top: 20px;
	padding-left: 20px;
	background-color: #9b0059;
	font-family: "Museo500";
	color: #fff;
	line-height: 23px;
	font-size: 24px
}
.m-check-events .m-check-events-elem {
	padding: 20px
}
.m-check-events .dropdown-holder {
	margin: 20px 0
}
.m-check-events .light-grey {
	color: #888a99;
	line-height: 18px;
	display: block;
	margin-top: 10px
}
.m-check-events b {
	line-height: 18px
}
.m-wideinfo-bg {
	border-top: solid 1px #ccc;
	background-image: url(../img/wideboxbg.jpg);
	height: 535px
}
.m-wideinfo-bg.gallery-bg {
	background-position: center -85px;
	background-image: url(../img/wide-bg.jpg)
}
.m-wideinfo-bg .m-teasers-container {
	background: none;
	height: auto;
	padding-top: 40px
}
.m-wideinfo-bg .m-teasers-container .m-teaser-box {
	margin-top: 0;
	border-top: solid 3px #9b0059
}
.m-wideinfo-bg .m-teasers-container .m-teaser-box p {
	margin: 20px 20px 10px 20px
}
.m-wideinfo-bg .m-teasers-container .m-teaser-box-desc img {
	border-bottom: solid 1px #ccc
}
.m-movies-container {
	width: 460px;
	position: relative
}
.m-movies-container .videoItem {
	margin-bottom: 20px;
	width: 220px;
	height: 138px;
	cursor: pointer;
	position: relative
}
.m-movies-container .videoItem.video-one {
	background-image: url(../img/movie1-thumb.jpg)
}
.m-movies-container .videoItem.video-two {
	background-image: url(../img/movie2-thumb.jpg)
}
.m-movies-container .videoItem:hover .Videoarrow {
	display: block
}
.Videoarrow {
	display: none;
	position: absolute;
	left: 50%;
	right: 50%;
	top: 50%;
	bottom: 50%;
	cursor: pointer;
	margin-left: -26px;
	border: 0;
	margin-top: -26px
}
.controlBar,.musicVideo-list {
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear
}
div.controlBar {
	position: absolute;
	width: 100%;
	height: 10px;
	left: 0;
	bottom: 0px
}
div.controlBar .wrapper {
	max-width: 960px;
	width: 100%
}
div.controlBar .progressBar {
	width: 420px;
	position: relative;
	bottom: 20px;
	left: 20px;
	height: 2px;
	float: left;
	background-color: #fff;
	cursor: pointer
}
div.controlBar .drag {
	width: 0;
	height: 5px;
	position: relative;
	top: -1px;
	background-color: #9b0059
}
.volumeControl {
	position: absolute;
	right: 22px;
	top: -277px
}
.volumeControl img {
	cursor: pointer;
	border: 0
}
.selectBox,.selectBox .selected {
	background: #f3f3f5;
	background: -moz-linear-gradient(top, #f3f3f5 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f5), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #f3f3f5 0%, #fff 100%);
	background: -o-linear-gradient(top, #f3f3f5 0%, #fff 100%);
	background: -ms-linear-gradient(top, #f3f3f5 0%, #fff 100%);
	background: linear-gradient(to bottom, #f3f3f5 0%,#ffffff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f5', endColorstr='#FFFFFF',GradientType=0 );
	color: #757474;
	font-size: 14px
}
.selectBox {
	border: solid 1px #bdcfdf;
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-align: left;
	clear: both;
	margin-bottom: 9px;
	line-height: 48px;
	color: #757474;
	font-size: 15px;
	width: 345px
}
.selectBox .mCSB_scrollTools .mCSB_draggerContainer {
	left: 86%
}
.selectBox .mCSB_scrollTools .mCSB_draggerContainer {
	bottom: 5%
}
.selectBox .mCSB_scrollTools .mCSB_draggerRail {
	background-color: #ccc
}
.selectBox .selectArrow {
	width: 46px;
	background: url(../img/violet-arrow.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	top: 0px;
	float: left;
	height: 46px;
	z-index: 1
}
.selectBox .selected {
	position: relative;
	float: left;
	height: 46px;
	z-index: 1;
	width: 100%;
	text-overflow: ellipsis;
	text-indent: 20px;
	border-right: none;
	border-top: 0;
	overflow: hidden
}
.selectBox .selectOptions {
	position: absolute;
	top: 47px;
	left: -1px;
	width: 100%;
	max-height: 235px;
	overflow: hidden;
	background: #fff;
	padding-top: 2px;
	opacity: 0;
	z-index: 0;
	cursor: default
}
.selectBox .selectOptions.shown {
	opacity: 1;
	z-index: 21;
	cursor: pointer
}
.selectBox .selectOption {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-bottom: solid 1px #edeeef;
	border-left: solid 1px #edeeef;
	border-right: solid 1px #edeeef;
	display: block;
	width: 100%;
	z-index: 3;
	line-height: 52px;
	padding: 0px 23px;
	position: relative;
	font-style: italic
}
.selectBox .selectOption:hover {
	background-color: #f6f5f4;
	color: #9b0059
}
footer {
	background-color: #f5f5f5;
	padding-top: 30px;
	border-top: solid 3px #9b0059
}
footer .map-wrapper {
	padding-top: 30px;
	display: table;
	border-top: solid 1px #ccc;
	margin-bottom: 30px
}
footer .map-wrapper ul {
	list-style-image: url(../img/small-arrow-pink.png);
	width: 375px;
	margin-left: 20px
}
footer .map-wrapper ul li {
	float: left;
	line-height: 18px;
	width: 50%;
	text-align: left
}
footer .map-wrapper ul li a {
	text-decoration: none;
	color: #5d6265;
	font-size: 12px
}
footer .map-wrapper ul li a:hover {
	color: #9b0059
	
}
.legal-footer {
	background-color: #fff
}
.legal-footer .wrapper {
	padding-top: 30px
}
.copyright-bar {
	line-height: 67px;
	width: 100%;
	background-color: #9b0059
}
.copyright-bar span {
	color: #fff
}
.co-sponsor {
	font-size: 17px;
	font-family: "Museo500";
	color: #5d6265;
	line-height: 43px;
	margin-left: 17px
}
.co-sponsor b {
	color: #9b0059
}
.medical {
	display: block;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 30px 0;
	line-height: 18px;
	font-size: 12px;
	margin: 20px 0;
	text-align: justify
}
.medical-warning {
	font-family: "Museo500";
	color: #5d6265;
	font-size: 22px;
	text-align: center;
	line-height: 24px
}
.page-content {
	padding-top: 30px;
	display: table;
	background-image: url(../img/pattern.png)
}
.page-content .col-sm-8,.page-content .col-sm-4 {
	padding: 0
}
.page-content .page-content-header {
	background-color: #9b0059;
	color: #fff;
	font-family: "Museo500";
	text-transform: uppercase;
	font-size: 32px;
	line-height: 70px;
	padding-left: 20px
}
.page-content-article {
	background: #fff;
	width: 620px;
	text-align: justify;
	margin-bottom: 40px
}
.contact-page.page-content-article,.wiek-serca.page-content-article,.nadcisnienie.page-content-article,.acard.page-content-article {
	margin-bottom: 20px
}
.page-content-article.acard .lead:first-of-type {
	margin-top: 0
}
.page-content-article article {
	padding: 20px
}
.page-content-article article ul {
	list-style-image: url(../img/list-style.jpg);
	margin-left: 20px;
	margin-top: 20px
}
.page-content-article article ul li {
	color: #222527;
	font-size: 14px;
	line-height: 18px;
	padding-left: 4px;
	margin-bottom: 10px
}
.page-content-article article img {
	margin: 20px 0
}
.page-content-article article img.packshot {
	margin-bottom: 0
}
.page-content-article article hr {
	width: 100%;
	border: 2px solid #ccc;
	margin: 20px 0
}
.page-content-article article hr:last-of-type {
	margin-bottom: 0
}
.page-content-article h2 {
	font-size: 23px;
	font-family: "Museo500"
}
.page-content-article .lead {
	color: #222527;
	font-size: 18px;
	display: block;
	margin: 20px 0;
	line-height: normal
}
.page-content-article .lead a {
	color: #9b0059;
	text-decoration: none
}
.page-content-article p {
	font-size: 14px;
	line-height: 19px
}
.m-aside {
	width: 300px;
	margin-left: 20px
}
.contact-page .m-aside .m-aside--box {
	margin-bottom: 0
}
.m-aside--box {
	margin-bottom: 20px;
	background-color: #fff;
	position: relative;
	display: table;
	border-bottom: solid 1px #ccc
}
.m-aside--box .m-box-img-wrapper {
	position: relative
}
.m-aside--box .m-box-img-wrapper .Videoarrow {
	display: block
}
.m-aside--box .m-box-img {
	border-bottom: solid 3px #9b0059;
	cursor: pointer
}
.m-aside--box .m-box-title {
	line-height: 56px;
	text-indent: 20px;
	font-family: "Museo500";
	display: block;
	border-bottom: solid 1px #ccc;
	font-size: 23px;
	text-transform: uppercase;
}
.m-aside--box p {
	font-size: 13px;
	line-height: 18px;
	color: #222527;
	display: block;
	padding: 20px
}
.m-aside--box .read-more span:after {
	top: -15px
}
.m-aside--box .read-more:before {
	content: "";
	width: 52px;
	position: absolute;
	left: 20px;
	bottom: 20px;
	height: 3px;
	background-color: #ccc
}
.pp_details {
	padding-left: 20px;
	display: block !important
}
.m-photogallery {
	border-top: solid 3px #9b0059;
	background: #fff;
	width: 100%;
	display: table;
	margin-top: 90px;
	height: 350px
}
.m-photogallery header {
	line-height: 56px;
	text-indent: 20px;
	font-family: "Museo500";
	display: block;
	border-bottom: solid 1px #ccc;
	font-size: 20px;
	text-transform: uppercase;
	width: 100%;
	color: #ccc
}
.m-photogallery header h2 {
	color: #9b0059;
	display: inline
}
.m-photogallery .m-photogallery-slides {
	height: 280px;
	width: 940px;
	overflow: hidden
}
.m-photogallery .m-photogallery-slides a {
	display: inline-block;
	margin: 10px 6px 0px 0
}
.m-photogallery .m-photogallery-slides a:last-of-type {
    margin-right:2px;
}
.m-photogallery .m-photogallery-slides a:first-of-type {
	margin-left: 10px
}
.m-photogallery .m-photogallery-slides a img {
	margin: 0
}
.m-photogallery .mCSB_container {
	min-width: 940px !important;
}
.mCustomScrollBox {
	height: 268px !important
}
.marker {
	padding: 20px;
	font-size: 13px;
	line-height: 18px
}
.marker span.close-marker {
    float:right;
    cursor: pointer;
}
.marker span.close-marker:hover {
    color: #9b0059;
}
.marker b {
	color: #222527;
	font-weight: bold !important
}
.marker b.violet {
	color: #9b0059
}
.marker .eventHours {
	color: #888a99;
	display: block;
	margin-top: 10px
}
.m-events-list-wrapper {
	border-bottom: solid 1px #d7d7d3;
	padding-bottom: 35px
}
.m-events-list {
	width: 100%;
	display: table
}
.m-events-list header {
	font-family: "Museo500";
	font-size: 21px;
	margin: 40px 0 20px 0;
	width: 100%;
	display: table;
	color: #fff;
	padding: 20px
}
.m-events-list.events-upcoming header {
	background: #9b0059
}
.m-events-list.events-past {
	margin-top: -20px
}
.m-events-list.events-past header {
	background: #888a99
}
.m-events-list.events-past .marker * {
	color: #888a99
}
.m-events-list.events-past .marker b: not(.violet) {
	font-weight: 300 !important
}
.m-events-list .marker {
	border: solid 1px #d7d7d3;
	margin-left: -1px;
	width: 300px;
	margin-bottom: 5px
}
.m-events-list .marker:first-of-type {
	margin-left: 0
}
.m-events-list .m-events-list-items {
	margin-left: 20px
}
.events-upcoming .m-events-list-items .m-events-list-item {
    min-height: 142px;
}
.drug-name {
	color: #878787;
	font-size: 20px;
	font-family: "Museo500"
}
.more-info {
	color: #222527;
	font-size: 19px;
	font-family: "Museo500"
}
.more-info a {
	color: #9b0059;
	text-decoration: none
}

.counter{
	width: 32px;
	height: 55px;
	overflow: hidden;
	background-position: 0 0;
	float: left;
	display: block;
	text-indent: -9999px;
	margin: 0;
	background-image: url(../img/counter.png);
}
.counter_0 {
	background-position: 0 0;
}
.counter_1{
	background-position: -32px 0;
}
.counter_2{
	background-position: -64px 0;
}
.counter_3{
	background-position: -96px 0;
}
.counter_4{
	background-position: -128px 0;
}
.counter_5{
	background-position: -160px 0;
}
.counter_6{
	background-position: -192px 0;
}
.counter_7{
	background-position: -224px 0;
}
.counter_8{
	background-position: -256px 0;
}
.counter_9{
	background-position: -288px 0;
}