<form id="cityFormInShow" action="{{ url('acard_frontend_surgeries') }}" method="post">
    <div class="formbox dropdown-holder rightColumn" style="margin-top:20px;">
        <div class="selectBoxSearch">
            <input id="selectInputCity" placeholder="{{ city.name }}" class="selected" autocomplete="off"/>
            <span class="selectArrow"></span>
            <div class="selectOptionsWrapper">
                <div class="selectOptions mCustomScrollbar _mCS_1 hide">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-light">
                        <div class="mCSB_container mCS_no_scrollbar">
                            {% render( controller('AcardFrontendBundle:Surgeries:city')) %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input name="city" id="city" type="hidden" value="{{ city.id }}" />
</form>