

<section class="m-wideinfo-bg gallery-bg">
    <div class="wrapper">

        <div class="m-photogallery">
            <header>
                <h2>Fotogaleria</h2>
            </header>

            <div class="m-photogallery-slides">
                
                <div class="m-photogallery-slides">
                    <a href="/uploads/gallery_static_01/_D8E2620.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2620_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2602.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2602_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2599.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2599_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2597.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2597_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2593.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2593_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2592.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2592_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2591.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2591_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2573.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2573_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2565.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2565_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2556.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2556_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2550.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2550_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2543.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2543_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2539.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2539_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2530.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2530_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2529.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2529_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2528.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2528_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2526.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2526_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2519.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2519_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2517.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2517_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2400.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2400_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2296.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2296_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_01/_D8E2295.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_01/_D8E2295_thumb.jpg">
                    </a>
                </div>
            </div>
            <div class="scroller"></div>
        </div>
    </div>
</section>

