
<section class="m-wideinfo-bg gallery-bg">
    <div class="wrapper">

        <div class="m-photogallery">
            <header>
                <h2>Fotogaleria</h2>
            </header>

            <div class="m-photogallery-slides">
                
                <div class="m-photogallery-slides">
                    <a href="/uploads/gallery_static_02/_D8E2502.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_02/_D8E2502_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_02/_D8E2501.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_02/_D8E2501_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_02/_D8E2499.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_02/_D8E2499_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_02/_D8E2496.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_02/_D8E2496_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_02/_D8E2495.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_02/_D8E2495_thumb.jpg">
                    </a>
                    <a href="/uploads/gallery_static_02/_D8E2492.jpg" rel="gal" class="nyroModal">
                        <img src="/uploads/gallery_static_02/_D8E2492_thumb.jpg">
                    </a>
                </div>
            </div>
            <div class="scroller"></div>
        </div>
    </div>
</section>