<div class="modal fade" id="video" tabindex="-1" data-videoid="PrmCJqvqJP0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modalplayer"></div>
            </div>
        </div>
    </div>
</div>