<section class="m-kv kv-small clearfix">
    <div class="wrapper dt">

        <div class="col-sm-6 pull-left m-kv-intro">

            <p>
                <b>Twoja mama kocha<br>
                    Cię całym sercem?</b> Upewnij się, <br>że
                jest ono w dobrej kondycji.
            </p>

        </div>
        <div class="pull-right text-right m-kv-counter">
            <img src="/web/bundles/acardfrontend/img/counter.png" alt="Przebadane serca">
            <div class="m-kv-counter-intro">
                Przebadanych serc
            </div>

        </div>
    </div>
</section>