/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "GeogrotesqueRegular";
}

.menu {
    float: left;
    width: 160px;
    margin: 20px 0 0 40px;
}

.menu a {
    display:block;
    width: 140px;
    padding: 5px 10px;
    color:#000;
    text-decoration: none;
}
.menu a:hover, .menu a.active {
    color:#9b0059;
}

div#body {
    float:left;
    padding:40px;
}

table {
    font: 13px/15px "Arial";
}

table th {
    text-transform: uppercase;
    color: #fff;
    background: #B2181C;
}
table tr {
    padding: 4px;
}

table tr:hover {
    background: #E6E6E6;
}

table td, table th {
    padding: 4px 8px;
}

input[type="text"], textarea {
    width:640px;
}

textarea {
    min-height:100px;
}

table a {
    color:#B61F24;
}

form table td.label {
    text-align: right;
    vertical-align: text-top;
}

.create-new {
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    padding: 4px;
    text-transform: uppercase;
}

.create-new:hover {
    border-bottom-width: 2px;
}

.clear {
    clear:both;
}

#locationsWrapper {

}

#locationsWrapper li {
    cursor: pointer;
}

#locationsWrapper li:hover {
    color:#B61F24;
}

.flash {
    float:left
}

.flash-message {
    line-height: 20px;
    font-size: 16px;
    padding: 4px 0 4px 12px;
    min-width: 500px;
}

.flash-message.flash-error {
    border-left: 5px solid red
}

.flash-message.flash-success {
    border-left: 5px solid green;
}
